name: Sync

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  sync:
    strategy:
      matrix:
        config:
          - remotes: gdrive:Ezlo backup/Movies>onedrive-crypt-1:Ezlo backup/Movies|gdrive:Ezlo backup>telebox-crypt-1:Ezlo backup
            logger_tags: rclone1|rclone2
          - remotes: gdrive:Ezlo backup/Series>onedrive-crypt-1:Ezlo backup/Series
            logger_tags: rclone3

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Check workflows
        id: check_workflows
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          sleep 10
          gh run list --workflow sync.yaml
          echo "number_of_workflows=$(gh run list --workflow sync.yaml -s in_progress --json status --jq length)" >> $GITHUB_OUTPUT

      # - name: Install Go
      #   if: ${{ steps.check_workflows.outputs.number_of_workflows <= 1 }}
      #   uses: actions/setup-go@v5
      #   with:
      #     go-version: 1.21
      #     check-latest: true
      
      - name: Install rclone
        if: ${{ steps.check_workflows.outputs.number_of_workflows <= 1 }}
        # run: sudo -v ; curl https://rclone.org/install.sh | sudo bash
        # run: |
        #     git clone --depth 1 --branch v1.69.1 https://github.com/rclone/rclone
        #     cd rclone
        #     go build -o /usr/local/bin/rclone
            
        #     git clone --depth 1 https://github.com/ky1vstar/rclone-telebox-plugin
        #     cd rclone-telebox-plugin
        #     go mod edit -replace "github.com/rclone/rclone=${{ github.workspace }}/rclone"
        #     go build -buildmode=plugin -o librcloneplugin_telebox.so
        #     echo "RCLONE_PLUGIN_PATH=$PWD" >> $GITHUB_ENV
        run: |
            docker pull ghcr.io/ky1vstar/rclone:master
            cat >/usr/local/bin/rclone <<EOL
            #/usr/bin/env bash
            exec docker run --rm -i -v "\$HOME/.config/rclone":/config/rclone ghcr.io/ky1vstar/rclone:master "\$@"
            EOL
            chmod +x /usr/local/bin/rclone

      # - name: Setup environment
      #   if: ${{ steps.check_workflows.outputs.number_of_workflows <= 1 }}
      #   run: |
      #       mkdir -p "$HOME/.config/rclone"
      #       echo -n "${{ secrets.RCLONE_CONFIG }}" | base64 -d > "$HOME/.config/rclone/rclone.conf"

      - name: Setup environment
        if: ${{ steps.check_workflows.outputs.number_of_workflows <= 1 }}
        run: |
            mkdir -p "$HOME/.config/rclone"
            openssl enc -d -aes-256-cbc -pbkdf2 -iter 20000 -in config -out "$HOME/.config/rclone/rclone.conf" -k "${{ secrets.ENC_KEY }}"

      # - name: Setup logger
      #   if: ${{ steps.check_workflows.outputs.number_of_workflows <= 1 }}
      #   run: |
      #       wget -q -O setup.sh --header="X-Papertrail-Token: ${{ secrets.PAPERTRAIL_TOKEN }}" https://papertrailapp.com/destinations/37404576/setup.sh
      #       chmod +x setup.sh
      #       sudo ./setup.sh -q

      - name: Setup logger
        if: ${{ steps.check_workflows.outputs.number_of_workflows <= 1 }}
        run: |
            sudo apt-get install rsyslog-gnutls
            curl -sSL https://telemetry.betterstack.com/rsyslog/${{ secrets.BETTERSTACK_TOKEN }} -o /tmp/setup-rsyslog.sh
            sudo sh /tmp/setup-rsyslog.sh
            sudo systemctl restart rsyslog

      - name: Sync
        if: ${{ steps.check_workflows.outputs.number_of_workflows <= 1 }}
        run: |
            IFS='|' read -ra REMOTES <<< "${{ matrix.config.remotes }}"
            IFS='|' read -ra TAGS <<< "${{ matrix.config.logger_tags }}"
            
            PIDS=()
            for i in "${!REMOTES[@]}"; do
              IFS='>' read -r SRC DST <<< "${REMOTES[$i]}"
              TAG="${TAGS[$i]}"
              rclone sync "$SRC" "$DST" --create-empty-src-dirs --progress --stats 10s --max-duration=2h --cutoff-mode=soft > >(logger -t "$TAG") 2>&1 &
              PIDS+=($!)
            done
            
            for PID in "${PIDS[@]}"; do
              wait $PID || true
            done
