name: Sync

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  sync:
    uses: ./.github/workflows/sync-reuse.yaml
    with:
      workflow: sync.yaml
      remotes: gdrive:Ezlo backup/Films>onedrive-crypt-1:Ezlo backup/Films|gdrive:Ezlo backup>telebox-crypt-1:Ezlo backup
      logger_tags: rclone1|rclone2
    secrets: inherit
